.version-text {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 0.8rem;
    color: gray;
    font-style: italic;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: darkslateblue;
}

p {
    text-align: center;
    color: blueviolet;
}

blockquote {
    font-style: italic;
    color: #555;
    border-left: 4px solid #ccc;
    padding-left: 10px;
    margin: 20px 0;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
}

.git-section,
.git-explanation {
    background-color: #e8f0fe;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.git-section h2,
.git-explanation h2 {
    color: darkcyan;
}

.git-section p,
.git-explanation p {
    color: #333;
}

.git-section ul,
.git-explanation ul {
    list-style: none;
    padding: 0;
}

.git-section li,
.git-explanation li {
    padding: 8px 0;
    font-weight: bold;
    color: darkslategray;
}

.git-section li span,
.git-explanation li span {
    font-weight: normal;
    color: darkblue;
}


.animated-hr {
    width: 50%;
    height: 5px;
    border: none;
    margin: 20px auto;
    background: linear-gradient(90deg, rgba(0, 255, 255, 0.6), rgba(255, 0, 255, 0.6));
    border-radius: 50px;
    position: relative;
    animation: glow 2s infinite ease-in-out;
    overflow: hidden;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px rgba(0, 255, 255, 0.5), 0 0 10px rgba(255, 0, 255, 0.5);
        transform: scaleX(1);
    }

    50% {
        box-shadow: 0 0 20px rgba(0, 255, 255, 1), 0 0 30px rgba(255, 0, 255, 1);
        transform: scaleX(1.1);
    }

    100% {
        box-shadow: 0 0 5px rgba(0, 255, 255, 0.5), 0 0 10px rgba(255, 0, 255, 0.5);
        transform: scaleX(1);
    }
}